.colorful {
    background: rgb(60, 40, 3);
    background: linear-gradient(90deg, rgba(60, 40, 3, 1) 0%, rgba(93, 34, 6, 1) 33%, rgba(110, 8, 8, 1) 49%, rgba(121, 80, 9, 1) 61%);
    color: violet;
}

.nav {
    background-color: rgba(128, 128, 128, 0.5);
}

body {
    background-image: url(./images/coolbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
}