section {
    margin: 1% 0%;
    padding: 5% 25% 5% 0%;
    display: inline-block;
    position: left;
    background-color: white;
}

article {
    border: 0.1cm solid transparent;
    box-shadow: 5px 5px 5px 10px gray;
}

h2 {
    width: 5px;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: -10;
}

.postionrelative {
    position: relative;
}