body {
    margin: 0%;
    padding: 0%;
    background-color: bisque;
    height: 100vh;
}

.divarticle {
    background-color: white;
    height: 25vh;
    width: 25vh;
    border: 0.1cm solid black;
    padding: 5%;
}

.dFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}